OWL_Semantic/WSDL/phylotastic_services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl"
   targetNamespace="http://axis2.apache.org"
   xmlns:tns="http://axis2.apache.org"
   xmlns:whttp="http://www.w3.org/ns/wsdl/http"
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
   xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
     This is a WSDL 2.0 description of a service of Phylotastic Web Services. 
  </wsdl:documentation>

  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://axis2.apache.org" elementFormDefault="qualified" attributeFormDefault="qualified">
		<xs:simpleType name="list_of_scientific_names">
            <xs:list itemType="xs:object"/>
        </xs:simpleType>
        <xs:simpleType name="list_of_resolved_names">
            <xs:list itemType="xs:object"/>
        </xs:simpleType>
        <!-- NEW attached ontology -->
        <xs:element name="text" nillable="true" type="xs:string" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_text" />
        <xs:element name="url" nillable="true" type="xs:uri" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_url" />
        <xs:element name="status_code" nillable="false" type="xs:integer" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_status_code" />
        <xs:element name="execution_time" nillable="false" type="xs:integer" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_execution_time" />
        <xs:element name="scientificNames" nillable="true" type="list_of_scientific_names" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_scientific_names_json" />
        <xs:element name="taxa" nillable="false" type="xs:string" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_taxa"/>
        <xs:element name="newick" nillable="true" type="xs:string" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_species_tree"/>
        <xs:element name="resolvedNames" nillable="true" type="list_of_resolved_names" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_resolved_names"/>
        <xs:element name="names" nillable="false" type="xs:string" owlref="http://www.cs.nmsu.edu/~epontell/CDAO/cdao.owl#param_names"/>
	</xs:schema>
  </wsdl:types>

  <wsdl:interface name="Phylotastic_WebServices_Interface">
    <!-- Find Scientific Names from Free Text -->  
    <wsdl:operation name="FindScientificNamesFromFreeText" 
	   pattern="http://www.w3.org/ns/wsdl/in-out"
       style="http://www.w3.org/ns/wsdl/style/iri" 
       wsdlx:safe="true">
      <wsdl:documentation>
         The first web service to get scientific names from Free Text.
      </wsdl:documentation>
      <wsdl:input element="tns:text" wsaw:Action="urn:text"/>
      <wsdl:output element="tns:status_code" wsaw:Action="urn:status_code"/>
      <wsdl:output element="tns:execution_time" wsaw:Action="urn:execution_time"/>
      <wsdl:output element="tns:scientificNames" wsaw:Action="urn:scientificNames"/>
    </wsdl:operation>
      
    <!-- Find Scientific Names from Web Page -->
    <wsdl:operation name="FindScientificNamesFromWebPage" 
	   pattern="http://www.w3.org/ns/wsdl/in-out"
       style="http://www.w3.org/ns/wsdl/style/iri" 
       wsdlx:safe="true">
      <wsdl:documentation>
         The first web service to get scientific names from Web Page.
      </wsdl:documentation>
      <wsdl:input element="tns:url" wsaw:Action="urn:url"/>
      <wsdl:output element="tns:status_code" wsaw:Action="urn:status_code"/>
      <wsdl:output element="tns:execution_time" wsaw:Action="urn:execution_time"/>
      <wsdl:output element="tns:scientificNames" wsaw:Action="urn:scientificNames"/>
    </wsdl:operation>
      
    
    <!-- Resolve Scientific Names Open Tree GET method -->
    <wsdl:operation name="ResolveScientificNames_OT_TNRS_GET" 
	   pattern="http://www.w3.org/ns/wsdl/in-out"
       style="http://www.w3.org/ns/wsdl/style/iri" 
       wsdlx:safe="true">
      <wsdl:documentation>
         The first web service to resolve scientific names using Open Tree TNRS GET method.
      </wsdl:documentation>
      <wsdl:input element="tns:names" wsaw:Action="urn:names"/>
      <wsdl:output element="tns:status_code" wsaw:Action="urn:status_code"/>
      <wsdl:output element="tns:resolvedNames" wsaw:Action="urn:resolvedNames"/>
    </wsdl:operation>
      
      
    <!-- Get Phylogenetic Tree Open Tree Service GET method -->  
    <wsdl:operation name="GetPhylogeneticTree_OT_GET" 
	   pattern="http://www.w3.org/ns/wsdl/in-out"
       style="http://www.w3.org/ns/wsdl/style/iri" 
       wsdlx:safe="true">
      <wsdl:documentation>
         The first web service to get phylogenetic tree GET method.
      </wsdl:documentation>
      <wsdl:input element="tns:taxa" wsaw:Action="urn:taxa"/>
      <wsdl:output element="tns:status_code" wsaw:Action="urn:status_code"/>
      <wsdl:output element="tns:newick" wsaw:Action="urn:newick"/>
    </wsdl:operation>
      
    <!-- Get Phylogenetic Tree Open Tree Service POST method -->  
    <wsdl:operation name="GetPhylogeneticTree_OT_POST" 
	   pattern="http://www.w3.org/ns/wsdl/in-out"
       style="http://www.w3.org/ns/wsdl/style/iri" 
       wsdlx:safe="true">
      <wsdl:documentation>
         The first web service to get phylogenetic tree POST method.
      </wsdl:documentation>
      <wsdl:input element="tns:resolvedNames" wsaw:Action="urn:resolvedNames"/>
      <wsdl:output element="tns:status_code" wsaw:Action="urn:status_code"/>
      <wsdl:output element="tns:newick" wsaw:Action="urn:newick"/>
    </wsdl:operation>  

  </wsdl:interface>

  <wsdl:binding name="Phylotastic_WebServices_HTTPBinding"
     type="http://www.w3.org/ns/wsdl/http"
     interface="tns:Phylotastic_WebServices_Interface">
    <wsdl:documentation>
       The RESTful HTTP binding for the Phylotastic Web Services.
    </wsdl:documentation>

    <!-- Find Scientific Names from Free Text -->  
    <wsdl:operation ref="tns:FindScientificNamesFromFreeText" whttp:method="GET" whttp:location="fn/names_text"
	whttp:contentEncodingDefault="application/x-www-form-urlencoded" whttp:inputSerialization="application/x-www-form-urlencoded" whttp:outputSerialization="application/json" whttp:queryParameterSeparator=""/>
      
    <!-- Find Scientific Names from Web Page -->  
    <wsdl:operation ref="tns:FindScientificNamesFromWebPage" whttp:method="GET" whttp:location="fn/names_url"
	whttp:contentEncodingDefault="application/x-www-form-urlencoded" whttp:inputSerialization="application/x-www-form-urlencoded" whttp:outputSerialization="application/json" whttp:queryParameterSeparator=""/> 
      
    <!-- Resolve Scientific names Open Tree Service TNRS GET method -->
    <wsdl:operation ref="tns:ResolveScientificNames_OT_TNRS_GET" whttp:method="GET" whttp:location="tnrs/ot/resolve"
	whttp:contentEncodingDefault="application/x-www-form-urlencoded" whttp:inputSerialization="application/x-www-form-urlencoded" whttp:outputSerialization="application/json" whttp:queryParameterSeparator=""/>
    
    <!-- Get Phylogenetic Tree Open Tree Service GET method -->
    <wsdl:operation ref="tns:GetPhylogeneticTree_OT_GET" whttp:method="GET" whttp:location="gt/ot/get_tree"
	whttp:contentEncodingDefault="application/x-www-form-urlencoded" whttp:inputSerialization="application/x-www-form-urlencoded" whttp:outputSerialization="application/json" whttp:queryParameterSeparator=""/>  
  </wsdl:binding>
  
  <wsdl:service name="Phylotastic_WebServices" interface="tns:Phylotastic_WebServices_Interface">
    <wsdl:documentation>
       Phylotastic Web Services Description.
    </wsdl:documentation>
    <wsdl:endpoint name="Phylotastic_WebServices_HTTPEndpoint"
       binding="tns:Phylotastic_WebServices_HTTPBinding"
       address="http://phylo.cs.nmsu.edu:5004/phylotastic_ws/">
    </wsdl:endpoint>
  </wsdl:service>
</wsdl:description>
