WSDL/wsdl_2_restHTTP_TNRS_Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:tns="http://axis2.apache.org" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:ns="http://axis2.apache.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:whttp="http://www.w3.org/ns/wsdl/http" targetNamespace="http://axis2.apache.org">
    <wsdl2:types>
        <xs:schema xmlns:ax21="http://axis2.apache.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.apache.org">
            
            <xs:element name="query">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="submitTNRSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="submitTNRSResponse" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSourcesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="getSourcesResponse" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="source_id">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="source_id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSourceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getSourceResponse" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="token_id">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token_id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveTNRSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="retrieveTNRSResponse" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl2:types>
    <wsdl2:interface name="ServiceInterface">
        <wsdl2:operation name="deleteTNRS" pattern="http://www.w3.org/ns/wsdl/robust-in-only">
            <wsdl2:input element="ns:token_id" wsaw:Action="urn:token_id"/>
			<wsdl2:output element="#none" wsaw:Action="urn:token_id"/>
        </wsdl2:operation>
        <wsdl2:operation name="submitTNRS" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:query" wsaw:Action="urn:query"/>
            <wsdl2:output element="ns:submitTNRSResponse" wsaw:Action="urn:submitTNRSResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="retrieveTNRS" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:token_id" wsaw:Action="urn:token_id"/>
            <wsdl2:output element="ns:retrieveTNRSResponse" wsaw:Action="urn:retrieveTNRSResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="getSources" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:output element="ns:getSourcesResponse" wsaw:Action="urn:getSourcesResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="getSource" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:source_id" wsaw:Action="urn:source_id"/>
            <wsdl2:output element="ns:getSourceResponse" wsaw:Action="urn:getSourceResponse"/>
        </wsdl2:operation>
    </wsdl2:interface>
    <wsdl2:binding name="TNRSServiceHttpBinding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/http">
        <wsdl2:operation ref="tns:deleteTNRS" whttp:location="delete/%s" whttp:method="GET" whttp:contentEncodingDefault="application/xhtml+xml" whttp:queryParameterSeparator=""/>   
        <wsdl2:operation ref="tns:submitTNRS" whttp:location="submit?" whttp:method="GET" whttp:contentEncodingDefault="application/x-www-form-urlencoded" whttp:queryParameterSeparator=""/>
        <wsdl2:operation ref="tns:retrieveTNRS" whttp:location="retrieve/%s" whttp:method="GET" whttp:contentEncodingDefault="application/xhtml+xml" whttp:queryParameterSeparator=""/>
        <wsdl2:operation ref="tns:getSources" whttp:location="sources/list" whttp:method="GET" whttp:contentEncodingDefault="application/xhtml+xml" whttp:queryParameterSeparator=""/>
		<wsdl2:operation ref="tns:getSource" whttp:location="sources/%s" whttp:method="GET" whttp:contentEncodingDefault="application/xhtml+xml" whttp:queryParameterSeparator=""/>
    </wsdl2:binding>
    <wsdl2:service name="TNRSService" interface="tns:ServiceInterface">
        <wsdl2:endpoint name="TNRSServiceHttpEndpoint" binding="tns:TNRSServiceHttpBinding" address="http://taxosaurus.org/"/>
    </wsdl2:service>
</wsdl2:description>
